body {
    font-size: 1.2rem;
    color: tomato;
    background-color: black;
    text-shadow: 1px 1px 1px white;
    font-family: "Indie Flower", cursive;
    letter-spacing: 3px;
    margin: 15px 25px 45px 25px;
}
/* TEXT: TITLE */
h1 {
    text-align: center;
    text-decoration: underline;
}
/* TEXT: DIRECTIONS */
h2 {
    font-size: 1.2rem;
}
/* IMAGES: 3 EXAMPLES OF HOW THE TRIANGLES ARE FORMED */
p {
    font-size: 1.2rem;
}
#img1 {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px black solid;
    outline: 1px white solid;
}
#img2 {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px black solid;
    outline: 1px white solid;
}
#img3 {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px black solid;
    outline: 1px white solid;
}
/* IMAGES: EXAMPLES OF COMPLETED TRIANGLES */
#img4 {
    width: 22.9%;
    height: auto;
}
#img5 {
    width: 22.9%;
    height: auto;
}
#img6 {
    width: 22.9%;
    height: auto;
}
/* IMAGES: STUDENT EXAMPLES */
#ex1 {
    width: 20%;
    height: auto;
    font-size: 1.2rem;
}
#ex2 {
    width: 20%;
    height: auto;
    font-size: 1.2rem;
}
#ex3 {
    width: 20%;
    height: auto;
    font-size: 1.2rem;
}
#ex4 {
    width: 20%;
    height: auto;
    font-size: 1.2rem;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 1px black solid;
    outline: 1px white solid;
}
footer {
    text-align: center;
}